<!DOCTYPE html>
<html>

<head>
    <title>Practice Tracker</title>
    <script src="https://unpkg.com/vue@next"></script>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css" type="text/css">
</head>

<body>
    <div id="app">

        <!-- display the name of the activity -->

        <h1 class="text-center">{{ activity }} ! Time Tracker</h1>

        <div id="add-hours" class="card">

            <h2 class="card-header">Add Records</h2>
            <div class="card-body">
               
                <!-- use v-if to show this if there are validation errors -->
                <div class="alert alert-danger" v-if="errors.length > 0">

                    <!-- show a list of validation errors from form -->
                    <ul>
                        <li v-for="error in errors">{{ error }}</li>
                    </ul>
                </div>

                <div class="form-group">

                    <!-- display name of activity in the label -->
                    <label class="form-label" for="date">What date did you do this activity?</label>

                    <!--  use v-model to connect this input to dateString data -->
                    <input id="date" class="form-control" type="date" v-model="dateString">
                    <small id="date-help" class="form-text text-muted">
                        Date must be today or in the past.
                    </small>
                </div>

                <div class="form-group">
                    <label class="form-label" for="hours">How many hours did you practice for?</label>

                    <!--Use v-model to connect this input to hours data -->
                    <input id="hours" class="form-control" type="number" min="0" max="24" v-model.number='hours'>
                    <small id="hours-help" class="form-text text-muted">
                        Enter a number of hours, more than 0, up to a maximum of 24
                    </small>
                </div>

                <div class="form-group">
                    <label class="form-label" for="type">What type?</label>
                    <!-- TODO Create select element, use v-model to connect to the types -->
                    <!-- TODO Use v-for to create option elements, one for each type -->

                    <select class="form-control" v-model="type">
                        <option v-for="activityType in types">{{ activityType }}</option>
                    </select>

                </div>

                <div class="form-label pb-2">
                    What media?
                </div>

                <div class="form-check-inline">
                    <!-- TODO v-model media -->
                    <input id="media1" class="form-check-input" type="radio" value="Traditional" v-model="medium">
                    <label class="form-check-label" for="media1">Traditional</label>
                </div>

                <div class="form-check-inline">
                    <!-- TODO v-model media -->
                    <input id="media2" class="form-check-input" type="radio" value="Digital" v-model="medium">
                    <label class="form-check-label" for="media2">Digital</label>
                </div>

                <!-- display the completed data as a checked/unchecked checkbox, or the text "Completed"
                P.S : 
                I try to find a way for the completion ( complete or not complete) as a result I get the true and false when running the code -->

                <div class="form-group">
                    <input id="complete" class="form-check-complete" type="checkbox" v-model="completedBox" >
                    <label class="form-check-completed" for="complete">Completed ? </label>
                </div>

                <!-- textarea to the form for the user to enter a note about a record  -->
                <div class="form-group">
                    <label for="notes">Notes</label> <br>
                    <textarea id="notes" rows="4" cols="65" v-model="Comments"></textarea>
                </div>


                <div>
                    <!-- Add v-on:click submit button  -->
                    <button class="btn btn-success mt-2" type="button" v-on:click="submit">Add record</button>
                </div>
                
            </div>
        </div>

        <div class="card">
            <h2 class="card-header">Activity Records</h2>

            <div class="card-body">

                <h3>{{ totalRecordsMessage }}</h3>

                <div id="records">
                    <table class="table table-hover">
                        <tr>
                            <th>Date</th>
                            <th>How many hours?</th>
                            <th>Type</th>
                            <th>Media</th>

    <!-- Adding "completed" and "Notes or Comments " on the table of records  -->
                            <th>Completed</th> 
                            <th> Notes </th>
                        </tr>
                        <!-- Use v-for to create one table row for each activity record -->

                        <tr v-for="record in activityRecords">
                            <td>{{shortDate(record.date ) }}</td>
                            <td>{{record.hours}}</td>
                            <td>{{record.type}}</td>
                            <td>{{record.medium}}</td>
                            <td>{{ record.completedBox}}</td>
                            <td>{{ record.Comments}}</td>

                        </tr>
                    </table>
                </div>
            </div>
        </div>


        <div class="card">
            <h2 class="card-header">Summary</h2>

            <div class="card-body">

                <!-- add computed property to calculate the total hours -->
                <p>You have practiced a total of {{ totalHours }}/p>

                <!-- Challenge question! Display a list of the total hours for each type.  -->
          
            </div>
        </div>

    </div>

    <script>

    let app = Vue.createApp({
        data() {
            return {
                activity: 'Practice Art',

                // An array of all activity records
                activityRecords: [],

                // v-modeled to the forms input
                dateString : '',
                hours: 1, 
                type: 'Sketching',
                medium: 'traditional',

                types: ['sketching','Drawing','Painting'],

        // Empty properties

                completedBox: '',
                Comments:'',

                errors: []
            }
        },
        methods: {
            submit() {

                this.errors = []
                let date = new Date(this.dateString)

                // is the date a valid date? Is  it today or in the past?
                if (!this.dateString || this.dateString === "Invalid Date" || date > new Date() ) {
                    this.errors.push('Select a valid date, today or in the past.')
                }
                if (this.hours <= 0 || this.hours > 24) {
                    this.errors.push('The number of hours must be greater than 0 and less than or equal to 24')
                }

                if (!this.type) {
                    this.errors.push("Select a type")
                }

                if (!this.medium) {
                    this.errors.push("Select a medium")
                }

                if (this.Comments.length > 40 ) {
                    this.errors.push(`You can't add more than 40 characters`)
                }

                if (this.errors.length === 0) {
                    let record = {
                        date: date,
                        hours: this.hours,
                        type: this.type,
                        medium: this.medium,
                        completedBox: this.completedBox,
                        Comments: this.Comments
                    }

                    this.activityRecords.push(record)



                    this.activityRecords.sort(function(r1, r2) {  // Sorting records

                        return r1.date.getTime() - r2.date.getTime() // Sort with oldest first, most recent at the end.
                    })
                }
            },
            shortDate(date) {
                return new Intl.DateTimeFormat('en-US', {timeZone: 'UTC'}).format(date)
            }
        },

// Create computed property to display total number of hours, display in template
        computed: {
            totalRecordsMessage() {

                let numberOfRecords = this.activityRecords.length

                if (numberOfRecords === 1) {
                    return '1 record'
                }else {
                    return numberOfRecords + ' records'
                }
            },

            totalHours() { // Create totalHours computed property
                let total = 0
                this.activityRecords.forEach(function(record) {
                    total = total + record.hours
                })
                return total
            }
        }
    })

    app.mount('#app')

</script>

</body>

</html>